# 读ditorcconfig读到这个文件就可以了
# 这个插件需要自己安装的EditorConfig for vs Vode
root = true 
# 给所有的文件提供一个规范
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true